# Application
NODE_ENV=dev
HOST=0.0.0.0
PORT=3050
LOG_LEVEL=info
FUNCTION_NAME=simulation-sandbox

# Encryption Key (must be exactly 32 bytes for AES-256)
ENCRYPTION_IV=<Multiple_Tenant_Based_IV>
ENCRYPTION_KEY=<Multiple_Tenant_Based_Secret_Key>

# NATS Configuration
NATS_URL=nats://10.10.80.18:14222

# GitHub Configuration
GITHUB_API_URL=https://api.github.com
GITHUB_TEMPLATE_OWNER=psl-copilot
GITHUB_DEFAULT_BRANCH=staging
GITHUB_TEMPLATE_REPO=rule-template
GITHUB_TEST_REPORT_PATH=reports/unit-tests/latest/index.html

# Github Tokens and Organization Names for different tenants
GITHUB_TOKEN_CBE=<AES_ENCRYPTED_GITHUB_TOKEN_CBE>
GITHUB_ORG_NAME_CBE=Git-Core-Tech

GITHUB_TOKEN_TENANT_001=<AES_ENCRYPTED_GITHUB_TOKEN_TENANT_001>
GITHUB_ORG_NAME_TENANT_001=Git-Core-Tech
